.App {
  text-align: center;
}
.card{
  display: flex;
}
.active{
  background: linear-gradient(45deg, red , blue);
  color: white;
}
h1{
  margin: 0%;
  padding: 10px 0px 10px 0px;
}
.fa-2x{font-size: 20px;height: 20px;width: 20px;}

